//colors
$brightorange: hsl(31, 77%, 52%);
$darkcyan : hsl(184, 100%, 22%);
$verydarkcyan : hsl(179, 100%, 13%);
$transparent: hsla(0, 0%, 100%, 0.75);
$background:hsl(0, 0%, 95%);
$white: #fff;
//sizes
$mobile : 23,4375rem;
$desktop : 90rem;

//font-size
$small-fs : 0,9375rem;
